<section class="kk-block section px-4 {{ block.customClass }}" {{ block.anchor }}
         data-block="{{ block.name|replace({'kk/': ''}) }}">
    <div class="container items-center rounded-lg py-20 text-center md:text-left xl:py-32">
        <div class="flex flex-col gap-12 lg:flex-row lg:justify-between lg:gap-0">
            <div class="lg:w-6/12 xl:w-7/12 2xl:w-6/12">
                {% include 'partial/block-section-subtitle.twig' with {
                    'content': fields.subtitle
                } %}
                <InnerBlocks
                        allowedBlocks="{{ allowed_blocks | json_encode() | escape('html_attr') }}"
                        template="{{ allowed_blocks_template | json_encode() | escape('html_attr') }}"
                />
            </div>
            {% if fields.contact_repeater %}
                <div class="lg:w-5/12 xl:w-4/12">
                    {% for item in fields.contact_repeater %}
                        {% include 'partial/block-contact-item.twig' %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</section>