<section class="kk-block section px-4 {{ block.customClass }}" {{ block.anchor }}
         data-block="{{ block.name|replace({'kk/': ''}) }}">
    <div class="container items-center rounded-lg py-20 text-center md:text-left xl:py-32">
        <div class="flex flex-col gap-12 2xl:gap-20">
            <div class="text-center lg:mx-auto lg:w-8/12">
                {% include 'partial/block-section-subtitle.twig' with {
                    'content': fields.subtitle
                } %}
                <InnerBlocks
                        allowedBlocks="{{ allowed_blocks | json_encode() | escape('html_attr') }}"
                        template="{{ allowed_blocks_template | json_encode() | escape('html_attr') }}"
                />
            </div>
            {% if fields.disclaimer %}
                <div class="flex flex-col gap-4 rounded-lg bg-blue-500 p-6 text-left text-white-500 sm:flex-row sm:items-center lg:mx-auto lg:w-8/12">
                    <div class="w-8 sm:w-24 md:w-20 lg:w-24 xl:w-20 2xl:w-16">
                        {{ function('wpstarter_get_icon', 'icon-info-small') }}
                    </div>
                    <p class="font-medium text-white-500">{{ fields.disclaimer }}</p>
                </div>
            {% endif %}
            {% if fields.faq_repeater %}
                <div class="flex flex-col lg:grid lg:grid-cols-2 lg:gap-6">
                    {% for item in fields.faq_repeater %}
                        {% include 'partial/block-faq-item.twig' %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</section>