{% set blockBackground = 'is-style-light' in block.customClass ? 'bg-blue-50' : 'bg-gradient-to-br from-[#092342] to-[#06172D]' %}

<section id="block__{{ block.id }}" class="kk-block section px-4 lg:px-8 relative {{ block.customClass }} {{ blockBackground }} {{ fixed_menu ? 'pt-28 xl:pt-36' : '' }}" {{ block.anchor }}
         data-block="{{ block.name|replace({'kk/': ''}) }}">
    <div class="container items-center rounded-lg text-center {{ fields.overlap ? 'pt-8 pb-16 xl:pb-24' : 'py-20 xl:py-32' }}">
        <div class="relative z-10 flex flex-col lg:flex-row lg:items-center lg:justify-between lg:gap-4 xl:gap-8 2xl:gap-32">
            <div class="text-center lg:w-6/12 lg:text-left 2xl:w-5/12">
                <InnerBlocks
                        allowedBlocks="{{ allowed_blocks | json_encode() | escape('html_attr') }}"
                        template="{{ allowed_blocks_template | json_encode() | escape('html_attr') }}"
                        className="flex flex-col gap-4"
                />
            </div>
            {% if fields.image %}
                <div class="lg:w-6/12">
                    {% include 'atoms/image.twig' with {
                        'imageItem': fields.image,
                        'imageSize': 'image-960',
                        'customClass': 'block h-auto w-full'
                    } %}
                </div>
            {% endif %}
        </div>
    </div>

    {% if fields.overlap %}
        <style>
            #block__{{ block.id }} + section.kk-block {
                position: relative;
                margin-top: -4rem;
                z-index: 99;
            }
            @media screen and (min-width: 1280px) {
                #block__{{ block.id }} + section.kk-block {
                    margin-top: -5rem;
                }
            }
        </style>
    {% endif %}
</section>