{% set blockBackground = 'is-style-light' in block.customClass ? 'bg-[#F5F9FF]' : 'bg-gradient-to-br from-[#092342] to-[#06172D]' %}

<section id="block__{{ block.id }}" class="kk-block section px-4 relative {{ block.customClass }} {{ blockBackground }} {{ fixed_menu ? 'pt-28 xl:pt-36' : '' }}" {{ block.anchor }}
         data-block="{{ block.name|replace({'kk/': ''}) }}">
    <div class="container items-center rounded-lg text-center {{ fields.overlap ? 'pt-20 pb-28 xl:pt-28 xl:pb-44' : 'py-20 xl:py-32' }}">
        <div class="background-squares">
            <img src="{{ theme.link }}/assets/images/sqaures-top-{{ 'is-style-dark' in block.customClass ? 'light' : 'dark' }}.svg"
                 alt=""
                 class="absolute top-0 right-0 h-1/2 sm:h-3/4 lg:h-full">
        </div>
        <div class="relative text-left lg:w-10/12">
            <InnerBlocks
                    allowedBlocks="{{ allowed_blocks | json_encode() | escape('html_attr') }}"
                    template="{{ allowed_blocks_template | json_encode() | escape('html_attr') }}"
            />
        </div>
    </div>

    {% if fields.overlap %}
        <style>
            #block__{{ block.id }} + section.kk-block {
                position: relative;
                margin-top: -3rem;
            }
            @media screen and (min-width: 1280px) {
                #block__{{ block.id }} + section.kk-block {
                    margin-top: -5rem;
                }
            }
        </style>
    {% endif %}
</section>