{% set containerPaddingClass = '' %}
{% if fields.padding_top and fields.padding_bottom %}
    {% set containerPaddingClass = 'py-0' %}
{% elseif fields.padding_top and not fields.padding_bottom %}
    {% set containerPaddingClass = 'pt-0 pb-20 xl:pb-32' %}
{% elseif not fields.padding_top and fields.padding_bottom %}
    {% set containerPaddingClass = 'pb-0 pt-20 xl:pt-32' %}
{% else %}
    {% set containerPaddingClass = 'py-20 xl:py-32' %}
{% endif %}

<section class="kk-block section px-4 lg:px-8 {{ block.customClass }}" {{ block.anchor }}
         data-block="{{ block.name|replace({'kk/': ''}) }}">
    <div class="container items-center rounded-lg text-center md:text-left {{ containerPaddingClass }}">
        <div class="flex flex-col gap-12 2xl:gap-20">
            <div class="text-center lg:mx-auto lg:w-8/12">
                {% include 'atoms/section-subtitle-pill.twig' with {
                    'content': fields.subtitle
                } %}
                <InnerBlocks
                        allowedBlocks="{{ allowed_blocks | json_encode() | escape('html_attr') }}"
                        template="{{ allowed_blocks_template | json_encode() | escape('html_attr') }}"
                        className="flex flex-col gap-4"
                />
            </div>




                <div class="flex flex-col gap-16 md:grid md:grid-cols-2 md:gap-x-4 md:gap-y-8 xl:grid-cols-3 xl:gap-9 2xl:gap-12">
                    {% if sticky_post %}
                        {% include 'partial/block-post-tease.twig' with {
                            'post': sticky_post
                        } %}
                    {% endif %}

                    {% if posts|length > 0 %}
                        {% for post in posts %}
                            {% include 'partial/block-post-tease.twig' %}
                        {% endfor %}
                    {% endif %}
                </div>


            {% if posts|length <= 0 %}
                <div class="text-center text-black-500">
                    <h3 class="text-lg">Brak postów</h3>
                </div>
            {% endif %}

        </div>
    </div>
</section>