{% set reversedClass = '' %}
{% if 'is-style-inverted' in block.customClass %}
    {% set reversedClass = 'lg:flex-row-reverse' %}
{% else %}
    {% set reversedClass = 'lg:flex-row' %}
{% endif %}

{% set containerPaddingClass = '' %}
{% if fields.padding_top and fields.padding_bottom %}
    {% set containerPaddingClass = 'py-0' %}
{% elseif fields.padding_top and not fields.padding_bottom %}
    {% set containerPaddingClass = 'pt-0 pb-20 xl:pb-32' %}
{% elseif not fields.padding_top and fields.padding_bottom %}
    {% set containerPaddingClass = 'pb-0 pt-20 xl:pt-32' %}
{% else %}
    {% set containerPaddingClass = 'py-20 xl:py-32' %}
{% endif %}

<section class="kk-block section px-4 lg:px-8 {{ block.customClass }}" {{ block.anchor }}
         data-block="{{ block.name|replace({'kk/': ''}) }}">
    <div class="container items-center {{ containerPaddingClass }} rounded-lg text-center lg:text-left">
        <div class="gap-4 flex flex-col {{ reversedClass }}">
            <div class="lg:w-full relative">
                <div class="p-6 bg-blue-50 rounded-lg sm:p-10 lg:p-12 h-full w-full">
                    {% include 'atoms/section-subtitle-pill.twig' with {
                        'content': fields.subtitle
                    } %}
                    <InnerBlocks
                            allowedBlocks="{{ allowed_blocks | json_encode() | escape('html_attr') }}"
                            template="{{ allowed_blocks_template | json_encode() | escape('html_attr') }}"
                            className="flex flex-col gap-4"
                    />
                    <div class="background-squares">
                        <img src="{{ theme.link }}/assets/images/sqaures-top-dark.svg"
                             alt=""
                             class="absolute bottom-0 right-0 h-1/2">
                    </div>
                </div>
            </div>
            {% if fields.list_repeater %}
                <div class="lg:w-full">
                    <div class="bg-gradient-to-br from-[#092342] to-[#06172D] rounded-lg p-6 sm:p-10 lg:p-8 xl:p-12 h-full w-full">
                        {% for item in fields.list_repeater %}
                            {% include 'partial/block-list-item.twig' %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>