{% set blockBackground = 'is-style-dark' in block.customClass or 'is-style-dark-inverted' in block.customClass ? 'bg-gradient-to-br from-[#092342] to-[#06172D]' : 'bg-blue-50' %}

{% set reversedClass = '' %}
{% if 'is-style-dark-inverted' in block.customClass or 'is-style-light-inverted' in block.customClass %}
    {% set reversedClass = 'lg:flex-row-reverse' %}
{% else %}
    {% set reversedClass = 'lg:flex-row' %}
{% endif %}

{% set containerPaddingClass = '' %}
{% if fields.padding_top and fields.padding_bottom %}
    {% set containerPaddingClass = 'py-0' %}
{% elseif fields.padding_top and not fields.padding_bottom %}
    {% set containerPaddingClass = 'pt-0 pb-20 xl:pb-32' %}
{% elseif not fields.padding_top and fields.padding_bottom %}
    {% set containerPaddingClass = 'pb-0 pt-20 xl:pt-32' %}
{% else %}
    {% set containerPaddingClass = 'py-20 xl:py-32' %}
{% endif %}

<section class="kk-block section px-4 lg:px-8 {{ block.customClass }} {{ blockBackground }}" {{ block.anchor }}
         data-block="{{ block.name|replace({'kk/': ''}) }}">
    <div class="container items-center {{ containerPaddingClass }} rounded-lg text-center lg:text-left">
        <div class="flex flex-col gap-12 2xl:gap-20">
            <div class="gap-12 flex flex-col-reverse {{ reversedClass }} lg:items-center lg:justify-between xl:gap-32">
                <div class="lg:w-7/12 xl:w-6/12">
                    {% include 'atoms/section-subtitle-pill.twig' with {
                        'content': fields.subtitle
                    } %}
                    <InnerBlocks
                            allowedBlocks="{{ allowed_blocks | json_encode() | escape('html_attr') }}"
                            template="{{ allowed_blocks_template | json_encode() | escape('html_attr') }}"
                            className="flex flex-col gap-4"
                    />
                </div>
                {% if fields.image %}
                    <div class="lg:w-5/12">
                        {% include 'atoms/image.twig' with {
                            'imageItem': fields.image,
                            'imageSize': 'image-420',
                            'customClass': 'block h-auto w-full'
                        } %}
                    </div>
                {% endif %}
            </div>
            {% if fields.gallery %}
                <div class="flex flex-col gap-5 md:grid md:grid-cols-2 md:gap-4 lg:grid-cols-4">
                    {% for item in fields.gallery %}
                        {% include 'partial/block-gallery-item.twig' %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</section>