<footer class="bg-purple-800 kk-footer section">
    <div class="container px-4 py-16 text-center xl:text-left 2xl:px-0 2xl:py-20">
        <div class="flex flex-col gap-16 xl:flex-row xl:justify-between">
            <div class="footer__widget footer__widget-1 xl:w-5/12">
                {{ footer_widget_1 }}
            </div>
            <div class="flex flex-col gap-8 xl:w-6/12 2xl:w-4/12 2xl:flex-row 2xl:justify-between 2xl:gap-4">
                <div class="footer__widget footer__widget-2 2xl:w-1/2">
                    {{ footer_widget_2 }}
                </div>
                <div class="footer__widget footer__widget-3 2xl:w-1/2">
                    {{ footer_widget_3 }}
                </div>
            </div>
        </div>
    </div>
    <div class="bg-purple-700 px-4 py-8 text-center sm:py-10">
        <p class="text-sm text-purple-200 font-regular">© {{ 'now' | date('Y') }} Wszelkie Prawa Zastrzeżone</p>
    </div>
</footer>

<button id="scrollUp" class="fixed right-6 bottom-6" style="display: none;" x-data @click.window="window.scrollTo({top: 0, behavior: 'smooth'})">
    <span class="sr-only">Kliknij i przewiń stronę na górę</span>
    <div class="absolute z-10 h-10 w-10 rounded-full bg-blue-100 scrollUp__inner top-[2px] left-[2px] lg:h-12 lg:w-12 2xl:w-[58px] 2xl:h-[58px]">
        <div class="flex items-center justify-center w-full h-full [&>*]:-rotate-90 text-blue-500">
            {{ function('wpstarter_get_icon', 'chevron') }}
        </div>
    </div>
    <div class="rounded-full bg-blue-500 scrollUp__background w-[44px] h-[44px] lg:h-[52px] lg:w-[52px] 2xl:w-[62px] 2xl:h-[62px]"></div>
</button>