<article class="flex flex-col gap-8 text-center md:text-left lg:gap-8">
    <div class="overflow-hidden rounded-lg card__image">
        <a href="{{ post.link }}" class="group" title="Przeczytaj artykuł {{ post.title }}">
            {% include 'atoms/image.twig' with {
                'imageItem': post.thumbnail,
                'imageSize': 'image-480',
                'customClass': 'h-auto w-full rounded-lg transition-all duration-300 group-hover:scale-110'
            } %}
        </a>
    </div>
    <div>
        <div class="flex flex-col items-center gap-4 card__meta md:mb-2 md:items-baseline">
            <div class="inline-block flex items-center justify-center gap-2 font-bold text-black-500 md:justify-start">
                {{ function('wpstarter_get_icon', 'icon-tag-small') }}
                {% for category in post.categories %}
                    <a href="{{ category.link }}" class="border-r border-solid border-blue-200 pr-2 text-sm font-regular last:border-0 last:pr-0 hover:text-blue-500 hover:underline">{{ category }}</a>
                {% endfor %}
            </div>
            <div class="">
                <span class="text-sm font-regular text-black-300">{{ post.date|replace({',': ''}) }}</span>
            </div>
        </div>
        <div class="mb-6 flex flex-col gap-4 card__content">
            <a href="{{ post.link }}" class="group" title="Przeczytaj artykuł {{ post.title }}">
                <h3 class="mb-2 text-lg font-extrabold text-black-500 group-hover:text-blue-500 group-hover:underline {{ titleSize ? 'lg:text-' ~ titleSize : '' }}">{{ post.title }}</h3>
            </a>
            <p>{{ post.excerpt({read_more: false}) }}</p>
        </div>
        <div class="text-base font-semibold text-blue-500 card__footer">
            <a href="{{ post.link }}" class="inline-flex items-center gap-2 hover:underline">
                czytaj dalej
                {{ function('wpstarter_get_icon', 'icon-arrow-small') }}
            </a>
        </div>
    </div>
</article>
