<div class="{{ 'is-style-boxed' in block.customClass ? 'bg-white-500 hover:bg-white-500' : '' }} h-full flex flex-col items-center gap-6 rounded-lg border border-blue-100 bg-white hover:bg-blue-50 hover:border-blue-500 bg-pos-0 hover:bg-pos-100 transition-all duration-300 p-6 group lg:p-8">
    <div class="box__icon">
        {{ function('wpstarter_get_icon', box.icon) }}
    </div>
    <div class="text-center box__content">
        {% if box.title %}
            <h3 class="mb-2 font-bold text-md text-black-500 md:text-lg">{{ box.title }}</h3>
        {% endif %}

        {% if box.content %}
            <div>{{ box.content }}</div>
        {% endif %}
    </div>
    {% if box.link.label and box.link.url %}

            {% if box.link.type == 'link' %}
                <div class="box__footer">
                <a href="{{ box.link.url }}"
                   class="inline-flex items-center gap-2 text-base font-semibold text-blue-500 hover:underline"
                   title="Przejdź do podstrony na temat {{ box.title }}">
                    {{ box.link.label }}
                    {{ function('wpstarter_get_icon', 'icon-arrow-small') }}
                </a>
                </div>
            {% else %}
                <a href="{{ box.link.url }}" class="wp-block-button__link wp-element-button kk-block__btn" title="Przejdź do podstrony na temat {{ box.title }}">
                    {{ box.link.label }}
                </a>
            {% endif %}

    {% endif %}
</div>