<article class="flex flex-col-reverse gap-8 text-center md:text-left lg:gap-8">
    <div class="overflow-hidden rounded-lg card__image">
        {% include 'atoms/image.twig' with {
            'imageItem': post.thumbnail,
            'imageSize': 'image-480',
            'customClass': 'h-[250px] sm:h-[350px] md:h-[400px] lg:h-[350px] xl:h-[400px] 2xl:h-[450px] object-cover w-full rounded-lg transition-all duration-300 group-hover:scale-110'
        } %}
    </div>
    <div>
        <div class="flex flex-col items-center gap-4 card__meta md:mb-2 md:flex-row-reverse md:items-center md:justify-end">
            <div class="inline-block flex items-center justify-center gap-2 font-bold text-black-500 md:justify-start">
                {{ function('wpstarter_get_icon', 'icon-tag-small') }}
                {% for category in post.categories %}
                    <a href="{{ category.link }}"
                       class="border-r border-solid border-blue-200 pr-2 text-sm font-regular last:border-0 last:pr-0 hover:text-blue-500 hover:underline">{{ category }}</a>
                {% endfor %}
            </div>
            <div class="">
                <span class="text-sm font-regular text-black-300">{{ post.date|replace({',': ''}) }}</span>
            </div>
        </div>
        <div class="mb-6 flex flex-col gap-4 card__content">
            <h3 class="mb-2 text-xl font-extrabold text-black-500 lg:text-2xl">{{ post.title }}</h3>
            <p>{{ post.excerpt({read_more: false}) }}</p>
        </div>
    </div>
</article>
